body {
    background-color: #00847A;
}

h1 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

a {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

p {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 10%;
    background-color:#FC4A1A;
    color:white;
    text-align:center;
    line-height: 50px;
}

a {
	color: white;
    text-decoration: none;
}

#back_button {
  position: absolute;
  top: 30px;
  left: 30px;
    color:white;
}


#title {
	position: absolute;
	left:250px;
}

#contact {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	position: absolute;
	width:100px;
	height: 50px;
	top:10px;
	right:250px;
	background-color:#FFA500;
}

#clado {
	position: absolute;
	bottom: 20px;
	left:20px;
	right:20px;
	height: 80%;
    background-color:#00AB9F;
    color:white;
    text-align:center;
    line-height: 500px;
}

#clado:hover{
   background-color:#00E4D3;
}

#twitter_logo {
  position: absolute;
  top: 20px;
  right: 30px;
  width:30px;
  height: 30px;
}

#facebook_logo {
  position: absolute;
  top: 20px;
  right: 70px;
  width:30px;
  height: 30px;
}

#github_logo {
  position: absolute;
  top: 15px;
  right: 105px;
  width:40px;
  height: 40px;
}
#contact-form {
  position: absolute;
  top: 150px;
  left: 105px;
  color: white;
}

#map {
	position: absolute;
	left: 400px;
	top: 100px;
    width: 500px;
    height: 400px;
    background-color: #CCC;
}

#BeckyDeets {
	position: absolute;
	left: 100px;
	top: 530px;
    width: 500px;
    height: 200px;
    background-color: #1ADDCF;
    color: white;
}

#lower {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 20%;
  z-index: 2;
    background-color:#FC4A1A;
}
#lowerright {
  width: 60%;
}

.nodes {
    font-size: 20px;
    z-index: 2;
 }

 .nodes2 {
    font-size: 20px;
    text-decoration: none;
    color: black;
    z-index: 2;
 }
 

 .nodes2:hover {
    color: green;
}

#info-image {
  position: absolute;
  top: 10px;
  right:10px;
  height:150px;
  width:300px;
}

#cladoshark {
  position: absolute;
  z-index: 1;
  top: 10%;
  height:70%;
  width: 100%;
  background-color:#00AB9F;
}





